.img__container {
    display: flex;
    position: relative;
    flex: 0 0 40%;  
    left: -5%;
    
    .author-img {
        max-width: 100%;
        width: 100%;
        box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.3);
    }

    &--bg-pattern {
        position: absolute;
        z-index: -1;
        width: 125%;
        bottom: -10%; right: -10%;
    }

    .pagination {
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 5;
        bottom: -24px; left: 20%;
        border-radius: 50px;
        width: 100px; height: 48px;
        padding: 12px 26px;
        background-color: #fff;
        box-shadow: 0px 2px 5px rgba($color--dark-blue, 0.5);
        
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: .4s ease-in-out;   

            &:nth-of-type(1):hover { transform: translateX(-7px) }
            &:nth-of-type(2):hover { transform: translateX(7px) }

            &:hover {
                svg path { stroke: #7035C8 }
            }
        }

        @media screen and (max-width: 844px) {
            left: calc(50% - 50px);
        }
    }

    @media screen and (max-width: 844px) {
        left: 0%;
        max-height: 500px;
        max-width: max-content;
        margin: 0 auto 80px;

        &--bg-pattern {
            bottom: -8%; right: -8%;
        }
    }
}