@import 'global';
@import 'themes';
@import '../components/QuoteContainer/quoteContainer';
@import '../components/ImageContainer/imageContainer';

.app {
    display: flex;
    margin: auto;

    @media screen and (max-width: 844px) {
        flex-direction: column-reverse;
        margin: 75px 0;
    }
}